name: Build_Python
on: 
  push:
    paths-ignore:
      - 'examples/**'
      - 'README.md'
    branches: 
      [ builder ]
jobs:
  IOS:
    if: false
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: InstallXcode
        continue-on-error: true
        run: |
             xcode-select --install

      - name: InstallBrew
        run: |
             cd app/
             brew install autoconf automake libtool pkg-config
             brew link libtool
      
      - name: InstallCython
        run: |
             pip3 install cython
      
      - name: InstallKivyIOS
        run: |
             pip3 install kivy[full]
             pip3 install kivy-ios

      - name: ToolchainRecipesInstall
        run: |
             cd app/
             python3 ../toolchain_recipes.py
      
      - name: CreateApp
        run: |
             cd app
             toolchain create MyApp $PWD

      - name: UploadArtifacts
        uses: actions/upload-artifact@v2
        with:
          name: DistributiveIOS
          path: |
            app/MyApp-ios/


  Android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Python3.7
        run: |
             python3 --version

             sudo apt-get update
             sudo apt-get install software-properties-common
             sudo add-apt-repository ppa:deadsnakes/ppa
             sudo apt-get install python3.7

             sudo update-alternatives --install /usr/bin/python python /usr/bin/python3.7 1
             sudo update-alternatives --install /usr/bin/python python /usr/bin/python3.8 2
             sudo update-alternatives  --set python /usr/bin/python3.7
             sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.7 1
             sudo update-alternatives --install /usr/bin/python3 python3 /usr/bin/python3.8 2
             sudo update-alternatives  --set python3 /usr/bin/python3.7

             python3 --version
             python --version
             pip3 --version
             pip --version

      - name: InstallCython        
        run: |
             sudo pip3 uninstall cython
             sudo apt-get remove cython
             pip3 install --upgrade pip
             pip3 install cython

      - name: InstallKivy        
        run: |
             pip3 install kivy[full] kivy_examples
             pip3 install kivymd

      - name: InstallCustomLibraries
        run: |
             sudo apt-get install libffi-dev
             pip3 install cffi
             pip3 install requests
             pip3 install urllib3
             pip3 install charset-normalizer
             pip3 install idna
             pip3 install plyer
             pip3 install opencv-python
             pip3 install numpy
             sudo apt-get update
             sudo apt-get install libsdl2-ttf-dev
             pip3 install imutils
             pip3 install mediapipe
             
      - name: InstallBuildozer        
        run: |
             sudo apt-get install -y python3-setuptools
             pip3 install buildozer
             pip3 install https://github.com/kivy/buildozer/archive/master.zip
             git clone https://github.com/kivy/buildozer
             cd buildozer
             python3 setup.py build
             pip3 install -e .
             export PATH=~/.local/bin/:$PATH
             . ~/.bashrc
             cd ../../

      - name: Prepare        
        run: |
             cd app
             buildozer init
             python3 ../buildozer_spec.py
             cat buildozer.spec

      - name: Build
        run: |
             cd app
             buildozer android debug deploy

      - name: UploadArtifacts
        uses: actions/upload-artifact@v2
        with:
          name: DistributiveAndroid
          path: |
            app/bin/
