name: GitHub Actions Build
on: 
  push:
    branches: 
      [ builder ]
jobs:
  config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build        
        run: |
             sudo pip3 uninstall cython
             sudo apt-get remove cython
             sudo apt-get install cython
             pip3 install kivy
             pip3 install buildozer
             sudo apt-get install python-kivy python-kivy-examples debhelper libgl1-mesa-dev libgles2-mesa-dev
             sudo apt-get install -y python3-setuptools
             
             echo "DBG: INSTALLING BUILDOZER GIT"
             pip3 install https://github.com/kivy/buildozer/archive/master.zip
             git clone https://github.com/kivy/buildozer
             cd buildozer
             echo "DBG:1"
             pip3 install setuptools
             python3 setup.py build
             echo "DBG:2"
             pip3 install -e ./
             echo "DBG:3"
             export PATH=~/.local/bin/:$PATH
             cd ../../
             
             echo "DBG: BUILDING"
             buildozer init
             buildozer android debug deploy run
             ls

      - name: UploadArtifacts
        uses: actions/upload-artifact@v2
        with:
          name: Distributive
          path: |
            task5/bin
