name: GitHub Actions Build
on: 
  push:
    branches: 
      [ builder-debug-140821-1647 ]
jobs:
  IOS:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: InstallXcode
        continue-on-error: true
        run: |
             xcode-select --install

      - name: InstallBrew
        run: |
             brew install autoconf automake libtool pkg-config
             brew link libtool
      
      - name: InstallCython
        run: |
             pip3 install cython
      
      - name: InstallKivyIOS
        run: |
             pip3 install kivy[full]
             pip3 install kivy-ios
      
      - name: DEBUG
        run: |
             xcodebuild -list -project MyApp.xcodeproj/
