name: GitHub Actions Build
on: 
  push:
    branches: 
      [ builder ]
jobs:
  config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: InstallCython        
        run: |
             sudo pip3 uninstall cython
             sudo apt-get remove cython
             sudo apt-get install cython

      - name: InstallKivy        
        run: |
             pip3 install kivy[base] kivy_examples
             
      - name: InstallBuildozer        
        run: |
             sudo apt-get install -y python3-setuptools
             pip3 install buildozer
             pip3 install https://github.com/kivy/buildozer/archive/master.zip
             git clone https://github.com/kivy/buildozer
             cd buildozer
             python3 setup.py build
             pip3 install -e .
             export PATH=~/.local/bin/:$PATH
             . ~/.bashrc
             cd ../../
      - name: SomeMagic
        run: |
             sudo apt-get update
             sudo apt-get install build-essential
             sudo apt-get install libstdc++6
             sudo apt-get install aidl

      - name: Compile        
        run: |
             buildozer init
             buildozer android update -v2
             buildozer android debug deploy run
             ls

      - name: UploadArtifacts
        uses: actions/upload-artifact@v2
        with:
          name: Distributive
          path: |
            task5/bin
