name: GitHub Actions Build
on: 
  push:
    branches: 
      [ builder ]
jobs:
  config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: InstallCython        
        run: |
             sudo pip3 uninstall cython
             sudo apt-get remove cython
             #sudo apt-get install cython
             pip3 install --upgrade pip
             echo "DBG::1"
             pip3 install cython==0.20

      - name: InstallKivy        
        run: |
             pip3 install kivy[base] kivy_examples
             
      - name: InstallBuildozer        
        run: |
             sudo apt-get install -y python3-setuptools
             pip3 install buildozer
             pip3 install https://github.com/kivy/buildozer/archive/master.zip
             git clone https://github.com/kivy/buildozer
             cd buildozer
             python3 setup.py build
             pip3 install -e .
             export PATH=~/.local/bin/:$PATH
             . ~/.bashrc
             cd ../../

      - name: Prepare        
        run: |
             buildozer init
             python3 buildozer_log_level.py
             cat buildozer.spec

      - name: FirstRun
        continue-on-error: true
        run: |
             python3 buildozer_license.py
             #buildozer android debug deploy run
      - name: BetweenRuns
        run: |
             ls /home/runner
             ls /home/runneradmin
             buildozer android clean
      - name: SecondRun
        run: |
             buildozer android debug deploy run

      - name: UploadArtifacts
        uses: actions/upload-artifact@v2
        with:
          name: Distributive
          path: |
            task5/bin
